<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>FastAPI Chat</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div>
            <h1> FastAPI chat</h1>
            <form action="" onsubmit="sendmessage(event)">
                <label for="user"> User id: </label>
                <input type="text" id="user" />
                <label for="messagetext">Message:</label>
                <input type="text" id="messagetext" />
                <button type="submit">Send</button>
            </form>
            <ul id="messages"></ul>
        </div>
        
        <script>
            const client_id = 'client';
            var ws = new WebSocket("{{ws_endpoint}}");
            ws.onmessage = function(event)  {
                console.log("received message")
                var messages = document.getElementById("messages")
                var message = document.createElement('li')
                console.log(event)
                var content = document.createTextNode(event.data)
                messages.appendChild(content)
                messages.appendChild(message)
            }
            ws.onopen = function (event) {
                console.log("Connected to web socket server")
            }
            ws.onclose = function (event) {
                console.log("Disconnected from web socket server")
            }
            function sendmessage(event) {
                var input = document.getElementById("messagetext");
                var user = document.getElementById("user");
                ws.send(JSON.stringify({"action": "sendmessage", "target_user": user, "msg": input.value}))
                input.value = ''
                event.preventDefault()
            }
        </script>
    </body>
</html>